.Header {
  /*background-color: red;
  padding-top: 5px;
  padding-bottom: 5px;
*/
position: -webkit-sticky;
position: sticky;
top: 0;
}

.header {
  background-color: #0080ff;
  height: 150px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
