.Header {
  background-color: red;
  padding: 10px;

}

.header {
  background-color: #0080ff;
  height: 50px;
  padding: 20px;
  text-align: center;

}

.Header-title {
  font-size: 1.5em;
}

.Header-intro {
  font-size: large;
}
